<div class = "pure-g options">
	<div class = "pure-u-1-4">
		<a href = "#">
			<div  class = "inner center">
				Create
			</div>
		<a href = "#">
	</div>
	<div class = "pure-u-1-4">
		<a href = "#">
			<div class = "inner center">
				Read
			</div>	
		</a>
	</div>
	<div class = "pure-u-1-4">
		<a href = "#">
			<div class = "inner center">
				Update
			</div>
		</a>
	</div>
	<div class = "pure-u-1-4">
		<a href = "#">
			<div class = "inner center">
				Delete
			</div>
		</a>
	</div>
</div>
<div class = "pure-g search-bar">
	<form method = "get" action = "/">
		<input name="query" type="text" placeholder="Enter the name of a file, updated values or a query" onfocus="this.placeholder=''" onblur="this.placeholder='Enter the name of a file, updated values or a query'" autocomplete="off">
	</form>
</div>
<div class = "pure-g result">
	<div class = "inner pure-u-1">
		<div class = "pure-u-1 center">
			Results
		</div>
		<div class = "pure-u-1 json-results">
		</div>
	</div>
</div>